body {

background-color:rgb(255, 204, 255) ;
margin-right: 20%;
margin-left: 20%;
border-width: 5px;
border-style: solid;
border-color: red;
padding-left: 10px;
padding-right: 10px;
} 

h1 {
  text-align: center; 
  border-bottom-width: 5px;  
border-bottom-style: dashed;
border-bottom-color: red;
}

img{ 
  border-radius:  100%;
  display: inline; 
  margin-right: 20%;
  margin-left: 25%;
}

button{
  color:gray;
}
